<div class="app__main__problem">
  <div class="app__main__problem__title">
    <h1><%= problem.title %></h1>
    <span>정답자: <%= problem.solution_count %>명</span>
    <span>|</span>
    <span>난이도: Level <%= problem.difficulty_level %></span>
  </div>
  <div class="app__main__problem__wrapper">
    <div class="app__main__problem__description">
      <span class="app__main__problem__description__subject">Instruction :</span>
      <p><%= problem.description %></p>
    </div>
    <div class="app__main__problem__innerWrapper">
      <form class="app__main__problem__solution" method="post">
        <span class="app__main__problem__solution__subject">Solution :</span>
        <% if(typeof userSolution === 'string') { %>
        <textarea name="solution" id="editor"><%= userSolution %></textarea>
        <% } else { %>
        <textarea name="solution" id="editor">function solution(value) { return value; }</textarea>
        <% } %>
        <div class="app__main__problem__solution__submit">
          <button>전송</button>
        </div>
      </form>
      <div class="app__main__problem__result">
        <span class="app__main__problem__result__subject">
          Result : 
          <% if(typeof testResult === 'object') { %>
          <span><%= testResult.numberOfCorrectAnswers %></span>
          <span>/</span>
          <span><%= testResult.numberOfTests %></span>
          <% } %>
        </span>
        <table class="app__main__problem__result__example">
          <tr>
            <th>test</th>
            <th>&rarr;</th>
            <th>expacted</th>
            <% if(typeof testResult === 'object') { %>
            <th>&rarr;</th>
            <th>occured</th>
            <th>&rarr;</th>
            <th>result</th>
            <% } %>
          </tr>
          <% problem.tests.forEach(function(test, index) { %>
            <% if(typeof testResult === 'object' && testResult.results[index]) { %>
          <tr class="<%= testResult.results[index].resultStatus %>">
            <% } else { %>
          <tr>
            <% } %>
            <td><%= test.code %></td>
            <td>&rarr;</td>
            <td><%= test.solution %></td>
            <% if(typeof testResult === 'object' && testResult.results[index]) { %>
            <td>&rarr;</td>
            <td><%= testResult.results[index].testCodeResult %></td>
            <td>&rarr;</td>
            <td><%= testResult.results[index].resultStatus %></td>
            <% } %>
          </tr>
          <% }) %>
        </table>
      </div>
    </div>
  </div>
</div>
