<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="app">
      <% include ./header %>
      <div class="app__main">
        <div class="app__main__navigator">
          <ul class="app__main__navigator__list">
            <span>Levels :</span>
            <% levels.forEach(function(value) { %>
              <% if(value === level) { %>
                <li class="active">
              <% } else { %>
                <li>
              <% } %>
                  <% if(value === 'all') { %>
                    <a href="/">All</a>
                  <% } else { %>
                    <a href="/?level=<%= value %>">Level <%= value %></a>
                  <% } %>
                </li>
            <% }) %>
          </ul>
        </div>
        <div class="app__main__problems">
          <p class="app__main__problems__info"><%= problems.length %> Kata Found</p>
          <ul class="app__main__problems__list">
            <% problems.forEach(function(problem) { %>
              <li class="app__main__problems__list__item">
                <h3><a href="/problems/<%= problem.id %>"><%= problem.title %></a></h3>
                <span>정답자: <%= problem.solution_count %>명</span>
                <span>|</span>
                <span>난이도: Level <%= problem.difficulty_level %></span>
              </li>
              <div class="app__main__problems__list__line"></div>
            <% }) %>
          </ul>
        </div>
      </div>
      <% include ./footer %>
    </div>
  </body>
  <script src="/javascripts/index.js"></script>
</html>
